DB_ENGINE=postgres
POSTGRES_DB=ikonex
POSTGRES_USER=ikonex
POSTGRES_PASSWORD=ikonex@123
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
ALLOWED_HOSTS=127.0.0.1,localhost

# You can use this instead of the POSTGRES_* variables above.
# DATABASE_URL=postgresql://ikonex:ikonex%40123@localhost:5432/ikonex
